<html>
<head>
  <title>Employee Basic Report</title>
  <%- include('common/head'); %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var shareReport = false;
    // open socket when transfering report to another user
    function transferPDF(user_id){
        shareReport = true;
        var data = [];
        // data to be added iteratively
        data.push(shareReport);
        data.push(user_id);
        socket.emit('transferPDF',data);
    }
   </script>
</head>
<body>
    <%- include('common/header'); %>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td class="col-xs-2">Emp ID</td>
                    <td class="col-xs-2">Emp Name</td>
                    <td class="col-xs-2">Emp Address</td>
                    <td class="col-xs-2">Send Report</td>
                </tr>
            </thead>
            <tbody>
                <% empData.forEach(function (employee) { %>
                    <tr>
                        <td class="col-xs-2"><%= employee.EmpID %></td>
                        <td class="col-xs-2"><%= employee.EmpName %></td>
                        <td class="col-xs-2"><%= employee.EmpAddress %></td>
                        <td class="col-xs-2">
                          <div class="col-md-2">
                            <a class="btn btn-primary btn-rg" href="#" role="button" onClick = "transferPDF(<%= employee.EmpID %>)">Share Report</a>
                        </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="container">
        <form action="/exportPDF" method="post">
            <div class="col-sm-3">
                <input class="btn btn-primary btn-lg" type="submit" value="Export Report">
            </div>
        </form>
        <!-- <form action="/TransferPDF" method="GET">
            <div class="col-sm-3">
                <a class="btn btn-primary btn-mg" href="#" role="button" onClick = "transferPDF()">Send to another User</a>
            </div>
        </form>
    <form action="/exportPDF" method="post">
      -->
    </div>
    <%- include('common/footer'); %>
</body>
</html>
