<html>
<head>
  <title>Employee Basic Report</title>
  <%- include('common/head'); %>
  <script src="/public/scripts/socket.io-1.2.0.js"></script>
  <script src="/public/scripts/jquery.min.js"></script>
</head>
<body>
    <%- include('common/header'); %>
    <div class="container">
    <form action="">
        <table class="table">
            <thead>
                <tr>
                    <td class="col-xs-2">Emp ID</td>
                    <td class="col-xs-2">Emp Name</td>
                    <td class="col-xs-2">Emp Address</td>
                    <td class="col-xs-2">Send Report</td>
                </tr>
            </thead>
            <tbody>
                <% empData.forEach(function (employee) { %>
                    <tr>
                        <td class="col-xs-2"><%= employee.EmpID %></td>
                        <td class="col-xs-2"><%= employee.EmpName %></td>
                        <td class="col-xs-2"><%= employee.EmpAddress %></td>
                        <td class="col-xs-2">
                            <div class="col-md-2">
                                <a class="btn btn-primary btn-rg" href="#" role="button" onClick = "return exportReport(<%= employee.EmpID %>)">Share Report</a>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </form>
    </div>
    <%- include('common/footer'); %>
</body>
<script>
    function exportReport(reportID)
    {
        var socket = io();
        socket.emit('pdf_Report_Sharing', reportID);
        return false;
    }
  </script>

</html>
